.carousel-item {
	height: 40rem;
	background-color: #777;
	position: relative;
	border-radius: 10px;
	background-position: center;
	background-size: cover;
}
.scial-icons a i{
	height: 1rem;
	width: 1rem;
}